export AUTH_MODE=insecure
export ELECTRIC_WRITE_TO_PG_MODE=direct_writes
export DATABASE_REQUIRE_SSL=false
export DATABASE_URL=postgresql://electric:electric@localhost:5432/multimeter_dev
export ELECTRIC_TELEMETRY=0
export LOG_LEVEL=debug
export LOGICAL_PUBLISHER_HOST=localhost
export PG_PROXY_PASSWORD=proxy_password
